@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  align-items: stretch;
  gap: clamp(16px, 2vw, 24px);

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 24px;
    background: var(--gradient-grey);
    border-radius: var(--radius-main);
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }

  &__content {
    padding-block: 24px 32px;
    padding-inline: 32px;
  }

  h3:not(.name) {
    margin-bottom: clamp(16px, 4vw, 24px);
  }

  .name {
    margin-bottom: 8px;
    line-height: 1;
  }

  .details {
    display: inline-block;
    margin-bottom: clamp(16px, 4vw, 24px);
    text-transform: uppercase;
    letter-spacing: -1px;
  }

  .btn {
    max-width: 83%;
    width: 100%;
    margin-inline: auto;
    align-self: flex-end;
  }

  &__reviews {
    .box__item {
      padding-bottom: 0;
    }

    .box__content {
      padding: 24px;
    }
  }

  @include media(tablet) {
    &__content {
      padding: 16px 10px;
    }

    .btn {
      max-width: 95%;
    }

    &__reviews {
      .box__content {
        padding: 16px 10px;
      }
    }
  }

  @include media(mobile-l) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;

    &__item {
      background: var(--gradient-btn);

      &:last-of-type {
        grid-column: span 2;

        img {
          aspect-ratio: 4/2;
          object-position: top;
        }
      }
    }
  }

  @include media(mobile-m) {
    grid-template-columns: 1fr;

    &__item {
      &:last-of-type {
        grid-column: auto;

        img {
          aspect-ratio: 4/3;
          object-position: center;
        }
      }
    }

    img {
      aspect-ratio: 4/3;
    }
  }
}