@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  align-items: stretch;
  gap: 24px;
  border-radius: var(--radius-main);
  overflow: hidden;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 32px;
    background: var(--gradient-grey);
  }

  &__content {
    padding-block: 24px 32px;
    padding-inline: 32px;
  }

  h3 {
    margin-bottom: 24px;
  }

  .btn {
    max-width: 83%;
    width: 100%;
    margin-inline: auto;
    align-self: flex-end;
  }
}