@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

*[class].btn {
  display: inline-block;
  margin: 0;
  padding: 6px 14px;
  border: 1px solid #ffffff;
  font-family: var(--font-family-primary);
  font-weight: var(--fw-300);
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: italic;
  line-height: 1.6;
  color: var(--color-gray-180) !important;
  text-align: center;
  text-transform: capitalize;
  border-radius: var(--radius-btn);
  background: var(--gradient-btn);
  transition-property: background, color, border-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;

  &:hover {
    color: var(--color-black) !important;
    background: var(--gradient-pink);
    border-color: var(--color-white);
  }

  &--reverse {
    border: 1px solid var(--color-gray-200);
    background: var(--color-gray-880);

    &:hover {
      background: var(--gradient-grey);
      border-color: var(--color-gray-200);
    }
  }

  &--bordered {
    border: 2px solid var(--color-white);

    &:hover {
      border-color: var(--color-brown-400);
    }
  }

  &--dark {
    color: var(--color-black) !important;
    background: var(--gradient-btn-dark);
  }

  &--large {
    font-size: clamp(20px, 2vw, 24px);
  }
}

*[class].swiper {
  .swiper-button {
    @include cover-background;

    width: 48px;
    height: 48px;
    background-image: url("../images/icons/arrow-icon.svg");
    border-radius: var(--radius-round);
    top: unset;
    bottom: 124px;

    &::after {
      display: none;
    }

    &--bottomed {
      bottom: 70px;
    }

    &--centered {
      top: 36%;
      bottom: unset;
    }
  }

  .swiper-button-prev {
    left: 76px;
  }

  .swiper-button-next {
    right: 76px;
    transform: rotate(180deg);
  }
}