@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.request {
  max-width: 1440px;
  width: 100%;
  padding-bottom: 258px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;

  &__inner {
    display: flex;
  }

  &__content {
    max-width: 515px;
    width: 100%;
    margin-right: clamp(24px, 8vw, 106px);

    h2 {
      line-height: 1.12;
      margin-bottom: clamp(16px, 3vw, 24px);
    }

    p {
      margin-bottom: clamp(16px, 3vw, 24px);
      width: 95%;
    }
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(16px, 3vw, 28px);
    max-width: 596px;
    width: 100%;
    padding: 34px 32px;
    background: var(--gradient-pink);
    border-radius: var(--radius-main);

    label {
      display: block;
    }

    .request__textarea,
    .btn--send {
      grid-column: span 2;
    }

    textarea {
      min-height: 150px;
      resize: none;
    }

    .btn {
      width: fit-content;
      margin-left: 74px;
      font-size: clamp(20px, 2.5vw, 30px);
      line-height: 1.17;
      letter-spacing: -.07rem;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  @include media(tablet-wide) {
    &__content {
      margin-right: 10px;
    }

    &__form {
      gap: 16px 10px;
      padding: 16px;
    }
  }

  @include media(tablet) {
    padding-bottom: 180px;

    &__inner {
      flex-direction: column;
    }

    &__content,
    &__form {
      max-width: 100%;
    }

    &__content {
      margin-right: 0;
      margin-bottom: 24px;

      p {
        width: 80%;
      }
    }
  }

  @include media(mobile-l) {
    padding-bottom: 120px;

    &__form {
      grid-template-columns: 1fr;
    }

    .request__textarea,
    .btn--send {
      grid-column: auto;
    }

    .btn {
      width: 100%;
      margin-inline: 0;
    }
  }

  @include media(mobile-m) {
    background-size: auto;
    background-position: bottom;
    &__content {
      p {
        width: 100%;
      }
    }
  }
}