@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.slider {
  &__intro {
    margin-bottom: rem(52);
  }

  &__texts {
      margin-bottom: 24px;
  }

  &__slides {
    max-width: 1440px;
    width: 100%;
    overflow: hidden;
  }

  &__item {
    background: var(--gradient-main);
  }

  &__inner {
    position: relative;
    padding-bottom: 32px;

    img {
      margin-bottom: 32px;
    }
  }

  &__content {
    max-width: 870px;
    width: 100%;
    margin-inline: auto;
    padding: 32px;
    background-color: var(--color-white);
    border-radius: var(--radius-main);
    text-align: center;

    h3 {
      margin-bottom: 24px;
      text-transform: initial;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-right: 25px;
    }
  }

  &__blog,
  &__event {
    img {
      margin-bottom: 0;
    }

    .slider__inner {
      padding-bottom: 0;
    }

    .slider__content {
      position: absolute;
      bottom: 0;
      left: 50%;
      max-width: 1021px;
      width: max-content;
      transform: translateX(-50%);
      z-index: 2;
    }
  }

  &__blog {
    .slider__content {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__event {
    .slider__content {
      max-width: 870px;
      width: 100%;
      bottom: 32px;
    }

    .swiper-button.swiper-button--bottomed {
      bottom: 124px;
    }
  }

  &__outfit {
    padding-inline: rem(52);

    .slider__item {
      background: transparent;
    }

    img {
      border-radius: var(--radius-main);
    }

    .slider__content {
      padding-inline: 16px 0;
      text-align: left;

      h3 {
        margin-bottom: 32px;
      }
    }
  }

  &--outfit {
    h2 {
      margin-bottom: 24px;
    }
  }
}