@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  height: var(--vh);
  font-family: var(--font-family-primary);
  font-weight: var(--fw-300);
  font-style: normal;
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--color-dark-886);
  background-color: var(--color-white);
  font-optical-sizing: auto;

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }

  &--about {
    .about__content .btn {
      display: none;
    }
  }

  &--no-hero {
    .main {
      padding-top: var(--header-height);
    }
  }
}

section {
  padding: rem(52) 0;

  @include media(tablet) {
    padding: rem(30) 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.site-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  min-height: var(--vh);
}

.main {
  @include media(tablet) {
    padding-top: var(--header-height);
  }
}

.overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  @include media(tablet) {
    &::before {
      background-color: var(--color-dark-886);
      opacity: .8;
    }
  }
}

.mail {
  position: relative;
  display: block;
  padding-left: 30px;

  &::before {
    @include contain-background;

    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 23px;
    transform: translateY(-50%);
    background-image: url("../images/icons/mail-icon.svg");
  }

  &--red::before {
    filter: brightness(0) saturate(100%) invert(52%) sepia(91%) saturate(2368%) hue-rotate(327deg) brightness(100%) contrast(102%);
  }
}