@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

h1,
h2,
h3,
.name {
  width: 100%;
  overflow: hidden;
  font-weight: var(--fw-200);

  span {
    font-style: italic;
    line-height: inherit;
    letter-spacing: inherit;
  }
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3,
.name,
.details {
  line-height: 1.17;
}

h3,
.name {
  color: var(--color-dark);
  font-style: italic;
}

h1 {
  font-size: clamp(50px, 9vw, 122px);
  line-height: .9;
  color: var(--color-white);
  letter-spacing: -.54rem;

  span {
    font-weight: var(--fw-100);
  }
}

h2 {
  font-size: clamp(46px, 7vw, 92px);
  letter-spacing: -0.4rem;
}

h3 {
  font-size: clamp(20px, 3vw, 40px);
  text-transform: capitalize;
}

.name {
  font-size: clamp(20px, 3vw, 32px);
}

.details {
  font-size: 18px;
  font-weight: var(--fw-300);
  color: var(--color-black);
}

.text {
  font-size: 18px;
}

.desc {
  font-size: clamp(22px, 3vw, 40px);
  line-height: 1.6;
  font-weight: var(--fw-300);
  color: var(--color-gray-180);
  text-transform: capitalize;
}

p {
  line-height: 1.6;
}

input,
textarea {
  min-width: 100%;
  padding: 13px 18px 15px;
  font-size: clamp(16px, 2.5vw, 20px);
  line-height: 1.6;
  color: var(--color-dark-886);
  background-color: var(--color-white);
  border: none;
  border-radius: var(--radius-main);

  &::placeholder {
    text-transform: capitalize;
    color: var(--color-gray-730);
  }
}

.copyright {
  text-transform: uppercase;
  letter-spacing: -0.05rem;
}

b {
  font-weight: var(--fw-400);
  font-style: italic;
}

@include media(tablet) {
  h1,
  h2,
  h3,
  .copyright {
    letter-spacing: 0;
  }

  .copyright {
    text-align: center;
  }
}

@include media(mobile-m) {
  input,
  textarea {
    padding: 16px 6px;
  }
}