/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --content-width: 1216px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // font-family
  --font-family-primary: "Work Sans", sans-serif;
  --font-family-secondary: "Varela Round", sans-serif;

  // font-weight
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;

  // color
  --color-white: #ffffff;
  --color-black: #000000;

  --color-dark: #070A0B;
  --color-dark-886: rgba(0, 0, 0, 0.8);

  --color-gray-180: rgba(255, 255, 255, 0.8);
  --color-gray-800: #343434;
  --color-gray-880: #343434CC;

  --color-brown-400: #554343;

  //  radius
  --radius-main: 10px;
  --radius-btn: 8px;
  --radius-full: 50%;

  // shadow
  --shadow-primary: 0px 8px 8px -4px #1118270A;
  --shadow-secondary: 0px 20px 24px -4px #1118271A;

  //gradient
  --gradient-main: linear-gradient(270deg, rgba(241, 164, 164, 0.34) 30.4%, rgba(153, 153, 153, 0.34) 69.6%);
  --gradient-btn: linear-gradient(90deg, rgba(255, 255, 255, 0.21) 0%, rgba(153, 153, 153, 0.21) 100%);
  --gradient-pink: linear-gradient(0.04deg, #FFEBFE -59.61%, #FFECEC 99.96%);
  --gradient-grey: linear-gradient(0.04deg, #FFFFFF -59.61%, #F4F4F4 99.96%);
}